body{
background:#f4f4f4;
}

.header{
height:150px;
width:960px;
margin:0 auto;
}

.menu{
float: right;
line-height: 150px;
width:90px; 
margin-left:35px;
text-align: center; 
}
				
.menu1{
float: right;
line-height: 150px;
width:90px; 
margin-left:35px;
text-align: center; 
}	

.menu a{
color:#fd9c00;
font-size: 13px;
font-family: Arial;
font-weight: bold;
}

.menu1 a{
color:black;
font-size:13px;
font-family:Arial;
font-weight: bold;
}

.line{
border:1px solid #c0c0c0;
width:960px;
margin:0 auto;
}

.image1{			
width:200px;
height:120px;
padding-top:30px;
}
				
.pictures{
width:960px;
height:379px;
padding-top:25px;
padding-bottom:25px;
margin:0 auto;
}

.images img{
position:relative;
}

.mini{
bottom:383px;
left:38px;
}

.word{
bottom:490px;
left:30px;
}

.link{
bottom:470px;
left:40px;
}
	
a{
text-decoration:none;
}

.basis{
height:270px;
width:960px;
margin:0 auto;
margin-bottom:20px;
margin-top:20px;
}					

.page1{
height:270px;
width:300px;
float:left;
font-family:Arial;
margin-right:27px;
font-size:13px;
color:#5d5d5d;
}

.page1 a{
color:black;
font-size:20px;
font-weight:bold;

}

.line2{
border-bottom:6px solid black;
margin-bottom:20px;
padding-bottom:5px;
}

.read a{
font-size:14px;
color:orange;
}

.page2{
height:270px;
width:300px;
float:left;
font-family:Arial;
margin-right:27px;
font-size:13px;
color:#5d5d5d;
}

.page3{
height:270px;
width:300px;
float:left;
font-family:Arial;
font-size:13px;
color:#5d5d5d;
}

.page3 a{
color:black;
font-size:20px;
font-weight:bold;
}

.com{
width:299px;
height:60px;
line-height:60px;
color:black;
font-family:Arial;
font-style: italic;
font-size:14px;
}

.photos{
height:240px;
width:960px;		
margin:0 auto;
}

.portfolio{			
width:960px;		
line-height:55px;
}

.portfolio a{
color:black;
font-weight:bold;
font-family:Arial;
font-size:22px;
}

.picture{
height:170px;
width:960px;
padding-top:10px;
}

.all{
height:165px;
width:960px;
margin:0 auto;
}

.ingeneral{
height:165px;
width:650px;
color:#5d5d5d;
font-family:Arial;
float:left;
font-size:12px;
}

.blogupdates{
line-height:65px;
width:960px;
}

.blogupdates a{
color:black;
font-family:Arial;
font-weight:bold;
font-size:14px;
}


.ingeneral2{
height:165px;
width:240px;
float:left;
padding-left:66px;
}

.blogupdates2{
line-height:65px;
font-weight:bold;
font-family:Arial;
font-size:14px;
}
					

.blogupdates2 a{
color:black;
}


			
.theend{
height:100px;
background:#e2e2e2;
}

.parents{
height:100px;
width:960px;
margin:0 auto;
}

.minimenu2{
float:left;
height:60px;
width:805px;
color:#5d5d5d;
font-size:12px;
font-family:Arial;
padding-top:40px;
}

.minimenu2 a{
color:#5d5d5d;
}

.logo{
float:left;
height:85px;
width:150px;
padding-top:15px;
}
